@import "tailwindcss";

@source "../../templates/**/*.html";

@theme {
  --color-accent-50: #fafafa;
  --color-accent-100: #f0f0f0;
  --color-accent-200: #d4d4d8;
  --color-accent-300: #b8b8bf;
  --color-accent-400: #a1a1aa;
  --color-accent-500: #8a8a93;
  --color-accent-600: #71717a;
  --color-accent-700: #52525b;
  --color-accent-800: #3f3f46;
  --color-accent-900: #27272a;
  
  --color-dark-700: #1a1a1a;
  --color-dark-800: #121212;
  --color-dark-900: #0a0a0a;
  --color-dark-950: #050505;
}
