@import "tailwindcss";

@source "../../templates/**/*.html";

@theme {
  --color-accent-50: #fff7ed;
  --color-accent-100: #ffedd5;
  --color-accent-200: #fed7aa;
  --color-accent-300: #fdba74;
  --color-accent-400: #fb923c;
  --color-accent-500: #f97316;
  --color-accent-600: #ea580c;
  --color-accent-700: #c2410c;
  --color-accent-800: #9a3412;
  --color-accent-900: #7c2d12;
  
  --color-dark-700: #1a1a1a;
  --color-dark-800: #121212;
  --color-dark-900: #0a0a0a;
  --color-dark-950: #050505;
}
